.container{
  
  display: flex;
  justify-content: center;
  
  padding: 10px;
}
.container h1{
  text-align: center;
  font-weight: bold;

}
input{
  font-weight: bold;
  width: 100%;
}

h5{
  font-weight: bold;
  text-align: left;
}
.todo-container{
  margin: 20px;

}
.kg-row{
  margin: 2px;
}